.App {
  width: 100vw;
  height: 100vh;
}

.LoadingElement {
  height: 100%;
}

.MapContainer {
  height: 100%;
}

.Map {
  height: 100%;
}

.checkbox {
	position: absolute;
	z-index: 10;
	left: 1rem;
	top: 1rem;
	background: white;
	padding: 5px;
}
