.PlaceDisplay{
  color: rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.15);
  padding: 10px;
  box-shadow: 2px 3px 5px black;
  border-radius: 4px;
  margin-bottom: 10px;
}

.PlaceDisplay__Footer {
	display: flex;
}

.PlaceDisplay__Footer > i {
	margin-left: auto;
	margin-right: 10px;
	cursor: pointer;
	color: #0094C6;
}

.PlaceDisplay__Title{
  margin: 0;
}

.PlaceDisplay__Text{
  margin-bottom: 20px;
}

.PlaceDisplay__Text > p{
  margin: 0;
}

.PlaceDisplay__Rating{
  font-weight: 300;
  font-size: 16px;
}

.PlaceDisplay__Button{
  text-decoration: none;
  color: #121212;
  background-color: #0094C6;
  padding: 4px 6px;
  border-radius: 4px;
  font-weight: 700;
}