.Profile {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #121212;
  color: inherit;
  overflow: scroll;
}

.Profile__MapLink {
  font-size: 20px;
  padding-top: 1rem;
  padding-left: 1rem;
}

.Profile__MapLink > a{
  text-decoration: none;
  color: inherit;
}

.Profile__MapLink > a > span{
  margin-left: 5px;
}


.Profile__Container {
  padding-top: 20px;
  display: flex;
  height: 100%;
}

.Profile__Header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.Profile__HeaderLogout {
	margin-left: auto;
	margin-right: 16px;
	cursor: pointer;
}

.Profile__ContainerInfo {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,.15);
  min-height: 300px;
  border-radius: 8px;
  box-shadow: 5px 3px 5px black;
}

.Profile__ContainerInfoFriends {
	margin-right: 5%;
	margin-left: 5%;
	flex-basis: 50%;
}

.Profile__ContainerFriends {
  margin-top: 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255,.15);
  min-height: 300px;
  border-radius: 8px;
  box-shadow: 5px 3px 5px black;
}

.Profile__ContainerFavorites {
  background-color: rgba(255,255,255,.15);
  border-radius: 8px;
  box-shadow: 5px 3px 5px black;
  flex-basis: 50%;
  margin-right: 5%;
}

.Profile__ContainerFriendsButton {
	padding: 10px;
	background-color: #0094C6;
	color: #121212;
	font-size: 16px;
	border-radius: 8px;
	outline: none;
	font-weight: 700;
	border: none;
	cursor: pointer;
	width: 80%;
}

@media only screen and (max-width: 900px) {
	
	.Profile__Container {
	  flex-direction: column;
	  align-items: center;
	  margin-top: auto;
	}
	
	.Profile__ContainerInfoFriends {
		flex-grow: 80%;
		margin-top: auto;
		margin-left: 0;
		margin-right: 0;
		width: 80%;
	}

	.Profile__ContainerFavorites {
	  width: 80%;
	  margin-right: 0;
	  padding: 0;
	}
}

@media only screen and (max-width: 480px) {

}