.Search {
  position: absolute;
  top: 1rem;
  z-index: 10;
  left:50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px; 
  color: #121212;
}

[data-reach-combobox-option] {
  color: #121212 !important;
}

.Search__Input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  box-shadow: 3px 3px 15px 3px black;
}

@media only screen and (max-width: 480px) {
  .Search {
    width: 60%;
    left: 35%;
    z-index: 20;
  }

  [data-reach-combobox-popover] {
    z-index: 24;
  }
}